{% include 'header.html.j2' %}
{% import 'compare.macros.html.j2' as compare_macros %}
<body>

<div class="container">
    <div class="page-header"><h1>Compare query strings</h1></div>
    <form class="form-horizontal" action="{{ url_for('compare') }}" method="POST">
        <div class="form-group">
            <div class="col-md-6">
                <textarea class="form-control" placeholder="Paste query string 1 here" name="old_values.query" id="old_values.query" rows="5">{{ old_values.query }}</textarea>
            </div>
            <div class="col-md-6">
                <textarea class="form-control" placeholder="Paste query string 2 here" name="new_values.query" id="new_values.query" rows="5">{{ new_values.query }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" class="form-control">
            </div>
            <div class="col-md-2">
                <input type="checkbox" name="summary" id="summary" {% if summary %}checked="checked"{% endif %}>
                <label for="summary" class="control-label">Show diff summary</label>
            </div>
        </div>
    </form>

    {% if old_values.params %}
        {% if summary %}
    <h2>Diff</h2>
    <div class="row">
        {{ compare_macros.text_column("Removed", data.removed) }}
        {{ compare_macros.text_column("Added", data.added) }}
    </div>
    <div class="row">
        <div class="col-md-6"><h3>Changed from</h3></div>
        <div class="col-md-6"><h3>Changed to</h3></div>
    </div>
    {% for name, value in data.changed|dictsort %}
        <div class="row">
            <div class="col-md-6">
                {{ compare_macros.text_cell(name, value[0]) }}
            </div>
            <div class="col-md-6">
                {{ compare_macros.text_cell(name, value[1]) }}
            </div>
        </div>
    {% endfor %}
        {% endif %}

    <h2>Parameters</h2>
        {% for key in data.names|sort %}
        <div class="row">
            <div class="col-md-6 {% if key in data.removed %}alert-error{% elif key in data.changed %}alert-warning{% endif %}" >
                <div class="form-group">
                {% if key not in data.added %}
                    <label class="control-label col-md-4" for="item-{{ loop.index }}">{{ key}}</label>
                    <div class="col-md-6"><input class="form-control" type="text" id="item-{{ loop.index }}" value="{{ old_values.params[key] }}" readonly="readonly"></div>
                {% endif %}
                </div>
            </div>

            <div class="col-md-6 {% if key in data.added or key in data.changed %}alert-success{% endif %}">
                <div class="form-group">
                {% if key not in data.removed %}
                    <label class="control-label col-md-4" for="item-{{ loop.index }}">{{ key}}</label>
                    <div class="col-md-6"><input class="form-control" type="text" id="item-{{ loop.index }}" value="{{ new_values.params[key] }}" readonly="readonly"></div>
                {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
    {% endif %}
</div>
</body>
{% include 'footer.html.j2' %}